<h2>{{ include.page.title }}</h2>
{% for pins in include.page.pins %}
<div class="{{ pins }}">{{ pins }}</div>
{% endif %}
<h3>Features</h3>
<ul class="features">
{% if include.page.ethernet %}
<li><img src="/icons/ethernet.svg" alt="Ethernet (LAN)" /> <span>{{ include.page.ethernet }}</span>
{% endif %}
{% if include.page.wifi %}
<li><img src="/icons/wifi.svg" alt="Wi-Fi (WLAN)" /> <span>{{ include.page.wifi }}</span>
{% endif %}
{% if include.page.sd-card %}
<li><img src="/icons/sd-card.svg" alt="SD (TF)" /> <span>{{ include.page.sd-card }}</span>
{% endif %}
</ul>