---
layout: page
---
{% assign temp = page.id | split: "/" %}
{% assign self = temp.last %}
<content id="shieldlist {{ self }}">
<h1><img src="/icons/{{ page.self }}.svg" alt="{{ category.title }}" />{{ page.title }}</h1>
<div id="shieldlist">
<p>{{ page.description }}</p>
{% for shield in site.shield %}
{% if shield.features contains self %}
<h2>{{ shield.title }}</h2>
<div class="listentry">
  {% include shield-common.html page=shield %}
  <p><a href="{{ shield.url }}">Link</a></p>
</div>
{% endif %}
{% endfor %}
</div>
</content>